* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100vh;
    width: 100vw;
}


main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 60px);
    align-items: center;
}

article {
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

section {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8, 60px);
    justify-content: center;
}

section:nth-child(even) > article:nth-child(even) {
    background: #F8F0E3 ;
}

section:nth-child(even) > article:nth-child(odd) {
    background: #333;
}

section:nth-child(odd) > article:nth-child(even) {
    background: #333;
}

section:nth-child(odd) > article:nth-child(odd) {
    background: #F8F0E3 ;
}
